/* 
    Germán A. Riveros Sepúlveda.   
    Desafío: Olivia Ros. Segunda versión.
*/
@import '../css/main.css';

:root{
    --clr-slate50: #f8fafc;
    --clr-slate100: #f1f5f9;
    --clr-slate200: #e2e8f0;
    --clr-slate300: #cbd5e1;
    --clr-slate400: #94a3b8;
    --clr-slate500: #64748b;
    --clr-slate600: #475569;
    --clr-slate700: #334155;
    --clr-slate800: #1e293b;
    --clr-slate900: #0f172a;
    --clr-slate950: #020617;
    
    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}



/* Configuraciones generales. */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "IBM Plex mono", monospace;
    color: var(--clr-slate700);
}

body{
    font-family: "IBM Plex sans", sans-serif;
    background-color: var(--clr-slate100);
    overflow-x: hidden; 
}

.texto_regular{
    font-size: 16px;
}
/* Fin configuraciones generales. */






 /* Imagen sección de héroe.  */



/* Sección acerca de. */
#mis_trabajos{
    background: #17A2B8;
}

.sub_tit_acercade{
    font-size: 20px;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    /* border: 1px solid red; */
}