.navbar{
    background-color: var(--clr-slate700);
    padding: var(--size-xxs);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

.navbar__list{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5em;
}

.navbar__link{
    text-decoration: none;
    color: var(--clr-slate200);
}

.navbar__item{
    list-style: none;
    padding: var(--size-sm);
    transition: all .3s ease;
}

.navbar__item:hover{
    background-color: var(--clr-slate900);
    color: var(--clr-slate50);
}